ol {
    text-align: left;
    list-style-position: inside;
}

.container {
    /* border: 1px solid black; */
    margin: 0 auto;
    width: fit-content;
    padding: 10px;
    text-align: center;
   height: fit-content;
    margin-top: 20vh;
    border-radius: 20%;
    background-color: #E8E8E8;
}

.output {
    margin: auto;
    max-width: 30%;
    padding: 10px;
    text-align: center;
    width: fit-content;


}

input[type=submit] {
    top: 50%;
    background-color: #0a0a23;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.container {
    /* box-shadow: 20px 20px rgba(0, 0, 0, .15); */
    transition: all .4s ease;

}

/* .container:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
    box-shadow: 10px 10px rgba(0, 0, 0, .25);
} */

p {
    font-size: small;
    margin-bottom: 20px;
}

body {
    font-family: 'Playfair Display', serif;
}

/* .slide {
    margin-top: 25px;

}

.slide label {
    margin-right: 20px;
} */

.material {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 16px;
}

.material::-webkit-slider-runnable-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
}

.material::-moz-range-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
}

.material::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #f50;
    box-shadow: -407px 0 0 400px #f50;
}

.material::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #f50;
    box-shadow: -407px 0 0 400px #f50;
}

