.internship-body {
  padding: 10px;
  background-color: #e8e8e8;
  text-align: center;
  border-radius: 3rem;
  border: 2px solid #5bc2e7;
  max-width: 400px;
  margin: auto;
}

.internship-body-top {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}
.internship-body-top > .left {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.internship-body-top > .left > span {
  width: 80px;
  height: 20px;
  background-color: #ff0597;
  display: block;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.internship-body-top > .left > span.left-1 {
  background-color: #ffc505;
}
.internship-body-top > .left > span.left-3 {
  background-color: #43e5f7;
}

.internship-body-top > .right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  width: min-content;
}
.internship-body-title {
  text-align: left;
  width: max-content;
  margin: 0;
  font-size: 24px;
}
.internship-body-text {
  font-size: 16px;
  color: #ff0597;
  margin: 0;
}

.internship-body > form label {
  font-weight: 800;
  font-size: 18px;
  color: #141414;
  text-align: right;
}

.internship-body > form > .slide {
  display: grid;
  grid-template-columns: 60px 20px 250px 40px;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  gap: 5px;
}

.internship-body > form > .slide svg {
  color: rgb(85, 85, 85);
}

.internship-body > form > .slide img {
  width: 20px;
}

.internship-body > form input[type="range"] {
  height: 22px;
  border-radius: 2rem;
  -webkit-appearance: none;
  appearance: none;
  background-color: #b8b8b8;
  width: 250px;
  overflow: hidden;
}

.internship-body > form input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 22px;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: -220px 0 0 200px #43e5f7;
  border: 1px solid #fff;
  box-sizing: content-box;
}

#design::-webkit-slider-thumb {
  box-shadow: -220px 0 0 200px #ffc505;
}
#price::-webkit-slider-thumb {
  box-shadow: -220px 0 0 200px #ff0597;
}

.internship-body > form input[type="submit"] {
  background-color: #5bc2e7;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 7px 20px;
  font-size: 20px;
  text-transform: uppercase;
}
.internship-body > form input[type="email"] {
  width: 80%;
  height: 40px;
  border: 1px solid #b8b8b8;
  border-radius: 8rem;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  margin-top: 10px;
  font-size: 16px;
}

.internship-body > form input[type="email"]:focus {
  border-color: #5bc2e7;

  -webkit-box-shadow: 0px 0px 7px 1px rgba(91, 194, 231, 0.47);
  -moz-box-shadow: 0px 0px 7px 1px rgba(91, 194, 231, 0.47);
  box-shadow: 0px 0px 7px 1px rgba(91, 194, 231, 0.47);
}

.output {
  text-align: center;
}
.output ol {
  text-align: left;
  width: max-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
